ExplorandoWcf.Client/Service References/CalculatorService/ExplorandoWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExplorandoWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExplorandoWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoOfdouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ExplorandoWcf" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOfdouble" nillable="true" type="tns:ResultadoOfdouble" />
  <xs:complexType name="ResultadoOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ExplorandoWcf" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOfint" nillable="true" type="tns:ResultadoOfint" />
  <xs:complexType name="ResultadoOfdateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ExplorandoWcf" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOfdateTime" nillable="true" type="tns:ResultadoOfdateTime" />
</xs:schema>